@import 'styles/reset.scss';
@import 'styles/global.scss';


body{

    --primary-color: rgba(74, 251, 127, 0.91);
	--primary-hover-color: rgb(23, 245, 89);
	--secondary-color: white;
	--inverted-secondary: black;

	--error : rgb(247, 86, 86);
	--gray:rgba(0, 0, 0, 0.254);

	--text-color: rgb(30 30 30);
	--description-text: rgba(117, 117, 117, 0.746);
}